:host {
    border-radius: var(--border-radius);
    width: 100%;
    margin: var(--vertical);
    padding: var(--vertical);
    border: 2px transparent solid;
    box-shadow: 0px 2px 2px gray;
    background: var(--cor-texto-claro);
}
@media (min-width: 860px) {
    :host {
        width: 420px;
        height: 132px;
    }
}
:host:hover{
    border: var(--cor-institucional) solid 2px;
    cursor: pointer;
}
h1 {
    color: var(--cor-institucional-escuro);
    font-weight: 500;
}
