<div class="main-container">




  <div class="direita">
    <a class="tab" href="inicio">
      < VOLTAR</a>
  </div>
  <div class="centro">
    <br />
    <a class="tab" href="">Autocomposição</a>
    <a class="tab" href="">Registro de Converções e Acordos Coletivos de Trabalho</a>
    <a class="tab" href="">Editais e Pauta dos procedimentos</a>
  </div>


  <p class="paragrafoExtrato">
    <strong>Certidão de Registro Sindical</strong>
  </p>

  <div class="p-24 h-120">
    <div class="esquerda">
      <h5>
        <p>
          <strong>
            Publicado: Sexta, 11 de Setembro de 2015, 15h02 | ùltima atualização
            em Terça, 17 de Novembro de 2015, 17h05 | Acessos: 80498
          </strong>
        </p>
      </h5>
    </div>
    <div class="esquerda1">
      <h1>
        <strong>
          Com o advento da Portaria nº. 186/08 a emissão das certidões sindicais
          será realizada automaticamente</strong>
        <h1>
          <strong>com a concessão do registro ou da alteração estatutária</strong>
        </h1>
      </h1>
    </div>
    <h3>
      <strong>
        <p>Ministério do Trabalho e Emprego</p>
        <p>Secretaria de relações do Trabalho</p>
        <p>Esplanada dos Ministérios</p>
        <p>Bloco F, Edifício Sede, Sala 446</p>
        <p>Brasília - DF, Cep: 70059-900</p>
      </strong>
    </h3>

    <div>
      <div class="esquerda1"></div>
      <div>
        <strong>Menu</strong>
      </div>
    </div>
    <fieldset fxLayoutAlign="center center">
      <div class="fieldset">
        <mat-toolbar>
          <mat-toolbar-row>
            <span>Emissão de Certidão Sindical</span>
            <span class="barra"></span>
            <button mat-icon-button routerLink="emitir" aria-label="Example icon button with a menu icon">
              <mat-icon>forward</mat-icon>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
    </fieldset>

    <div>
      <strong>Registrado em : </strong>
      <a class="tab" href="/"> Sindicatos</a>
    </div>
  </div>
</div>