<svg
        version="1.1"
        viewBox="0 0 7.9375003 7.9375009"
        height="30"
        width="30">
    <defs
            id="defs2" />
    <g
            transform="translate(-44.892834,-170.6156)"
            id="layer1">
        <rect
                y="171.46306"
                x="45.357121"
                height="1.7164185"
                width="6.9637551"
                id="rect12"
                style="fill:#ffffff;stroke-width:0.01716419" />
        <rect
                style="fill:#ffffff;stroke-width:0.01716419"
                id="rect14"
                width="6.9637551"
                height="1.7164185"
                x="45.357121"
                y="173.72874" />
        <rect
                y="175.99442"
                x="45.357121"
                height="1.7164185"
                width="6.9637551"
                id="rect16"
                style="fill:#ffffff;stroke-width:0.01716419" />
    </g>
</svg>
